# LOSCFG_COMPILE_OPTIMIZE is not set
# LOSCFG_COMPILE_LTO is not set
LOSCFG_PLATFORM_QEMU_RISCV32_VIRT=y
LOSCFG_SOC_SERIES_BK7235=y
# LOSCFG_POSIX_SEM_API is not set
# LOSCFG_POSIX_MQUEUE_API is not set
# LOSCFG_POSIX_PIPE_API is not set
# LOSCFG_POSIX_SIGNAL_API is not set
# LOSCFG_FS_VFS is not set
# LOSCFG_PLATFORM_ADAPT is not set
# LOSCFG_ENABLE_MAGICKEY is not set
# LOSCFG_DEBUG_VERSION is not set
LOSCFG_DRIVERS_HDF=y
LOSCFG_DRIVERS_HDF_PLATFORM=y
LOSCFG_CC_NO_STACKPROTECTOR=y
