# Copyright (C) 2022 Beken Corporation
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
# LOSCFG_COMPILE_OPTIMIZE is not set
# LOSCFG_COMPILE_LTO is not set
LOSCFG_PLATFORM_QEMU_RISCV32_VIRT=y
LOSCFG_SOC_SERIES_BK7235=y
# LOSCFG_POSIX_SEM_API is not set
# LOSCFG_POSIX_MQUEUE_API is not set
# LOSCFG_POSIX_PIPE_API is not set
# LOSCFG_POSIX_SIGNAL_API is not set
# LOSCFG_FS_VFS is not set
# LOSCFG_PLATFORM_ADAPT is not set
# LOSCFG_ENABLE_MAGICKEY is not set
# LOSCFG_DEBUG_VERSION is not set
LOSCFG_DRIVERS_HDF=y
LOSCFG_DRIVERS_HDF_PLATFORM=y
LOSCFG_CC_NO_STACKPROTECTOR=y
